<!DOCTYPE html>
<html ng-app="uzchat">
<head lang="en">
    <meta charset="UTF-8">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/roboto.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/firebase/firebase-debug.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="app.js"></script>
    <title>UZChat</title>
</head>
<body ng-controller='mainController'>
  <div class="container">
    <h2>Welcome to UZChat!</h2>
    <div class="page-header">
      <input class="form-control" placeholder="Insert your name" type="text" name="user" id="user" ng-model="username"/>
    </div>
    <div class="row alert" ng-repeat='message in messages'>
      <div class="col-md-2">
        <span class="label label-primary">{{message.username}}</span>
      </div>
      <div class="col-md-8" style="color:#585858;">
        <span>{{message.text}}</span>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger btn-xs inline" ng-click="deleteMessage($index)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="page-header">
      <input placeholder="Type your message" class="form-control" type="text" name="newMessage" id="newMwssage" ng-model="newMessage"/>
      <button class="btn btn-primary" ng-click="addMessage()">Send</button>
    </div>
  </div>
</body>
</html>
